html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family:"Inter", "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jetbrains Mono", "Monaspace Krypton", monospace;
}

.wrapper {
    max-inline-size: 1000px;
    margin-inline: auto;
}

.primary-nav {
    display: flex;
    justify-content: space-between;
}

.primary-nav ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
}

li a {
    color: black;
    text-decoration: none;
}

li a:visited {
    color: black;
    text-decoration: none;
}

.logo {
    max-width: 100px;
}